{% extends "base_admin.html" %}
{% block title %}Admin - Dashboard{% endblock %}

{% block page_content %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

             <!-- Divider -->
             <hr class="sidebar-divider my-0">

             <!-- Nav Item - index -->
             <li class="nav-item active">
                 <a class="nav-link" href="/">
                     <i class="fas fa-fw fa-tachometer-alt"></i>
                     <span>main page</span></a>
             </li>


            <!-- Divider -->
            <hr class="sidebar-divider">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">
                            {{ current_user.username }} logout
                        </a>
                    </li>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                GET requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ query_total['GET'] }}</div>
                                        </div>                 
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                POST requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ query_total['POST'] }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">HEAD requests
                              
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ query_total['DELETE'] }}</div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                PUT requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ query_total['PATCH'] }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">User infomation</h1>
                    </div>
                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                 <!-- 테이블 추가 -->
                                 <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            
                                            <th>TOTAL</th>
                                            <th>ROLE</th>
                                            <th>DELETE</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user_id, stats in user_statistics.items() %}
                                        <tr id="user_row_{{ stats.id }}">
                                            <td>{{ stats.username }}</td>
                                            <td>{{ stats.email }}</td>
                                           
                                            <td>{{ stats.total_all_requests }}</td>
                                            <td>
                                                <select name="role" onchange="updateRole(this.value, '{{ stats.id }}')">
                                                    {% if stats.role == '0' %}
                                                        <option value="0" selected>admin</option>
                                                        <option value="1">user</option>
                                                    {% elif stats.role == '1' %}
                                                        <option value="0">admin</option>
                                                        <option value="1" selected>user</option>
                                                    {% else %}
                                                        <option value="0">admin</option>
                                                        <option value="1">user</option>
                                                    {% endif %}
                                                </select>
                                            </td>
                                            <td id="role_column_{{ stats.id }}">
                                                {% if stats.role == '1' %}
                                                    <button onclick="deleteUser('{{ stats.id }}')">DELETE</button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <!-- 다른 사용자 데이터 추가 -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- 테이블 추가 -->
                                <table class="table">
                                   <thead>
                                       <tr>
                                           <th>ENDPOINT</th>
                                           <th>METHOD</th>
                                           <th>REQUESTS</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                    {% for endpoint, methods in query_statistics.items() %}
                                        {% for method, total_requests in methods.items() %}
                                            {% if total_requests != 0 %}
                                            <tr>
                                            <td>{{ endpoint }}</td>
                                            <td>{{ method }}</td>
                                            <td>{{ total_requests }}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                   </tbody>
                               </table>
                           </div> 
                        </div>
                    </div>                
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; AI translator Website 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <script src="{{ url_for('static', filename='/js/admin.js') }}"></script>
{% endblock %}